body {
	margin: 0;
	background-color: #f9fafb;
	color: #212b36;
	font-family: 'Assistant', sans-serif;
}

a {
	padding: 0;
	text-decoration: none;
}

a:-webkit-any-link {
	padding: 0;
	text-decoration: none;
}

.main {
	display: grid;
	grid-template-columns: 800px;
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

.grim-container {
	position: absolute;
	top: 10%;
}

.introduction {
	display: grid;
	width: 800px;
	grid-template-rows: minmax(50px, max-content);
	text-align: center;
	align-items: center;
	grid-row: 1;
}

.introduction h1 {
	margin: 0;
}

.introduction a {
	font-size: 25px;
	color: #d0d0d0;
	padding-right: 30px;
}

.introduction a:hover {
	color: #212b36;
}

.introduction h1 {
	vertical-align: top;
	display: inline-block;
	font-size: 70px;
	font-weight: normal;
	text-align: left;
}

.upper {
	align-items: center;
	text-align: left;
	grid-row: 1;
}

#avatar {
	padding-right: 20px;
	display: inline-block;
	width: 91px;
	height: 91px;
}

.text {
	margin-top: 10px;
	text-align: left;
	grid-row: 2;
	font-size: 28px;
}

.icons {
	margin-top: 20px;
	grid-column: 1 / 5;
	grid-row: 3;
	text-align: left;
}

.projects {
	margin-top: 80px;
	grid-row: 2;
	display: grid;
	grid-template-columns: 768px 32px;
}

.projects svg {
	color: #703faf;
	vertical-align: middle;
}

.projects svg:hover {
	color: #9f63ed;
}

.project {
	text-align: left;
}

.projects a {
	line-height: 50px;
}

.project-name {
	font-weight: 600;
	font-size: 24px;
	color: #000639;
	display: inline;
	margin-left: 10px;
}

.project-description {
	color: #212b36;
	font-size: 18px;
	display: inline;
	margin-left: 10px;
}

.project span {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.mobile-github {
	display: inline-block;
	line-height: 50px;
	width: 0;
	height: 0;
	visibility: hidden;
}

.message a {
	color: #000639;
	font-weight: 600;
}

@media screen and (max-width: 850px) {
	.main {
		grid-template-columns: 550px;
		width: 550px;
	}

	.introduction {
		width: 550px;
	}

	.projects {
		margin-top: 40px;
		width: 550px;
		grid-template-columns: 100%;
	}

	.projects a {
		text-align: left;
		margin-bottom: 5px;
	}

	.project-description {
		width: 100%;
		display: block;
		line-height: 28px;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 22px;
	}

	.projects svg {
		margin-left: 10px;
		vertical-align: baseline;
	}

	.projects a {
		width: 100%;
	}

	.mobile-github {
		visibility: visible;
	}

	.normal-github {
		width: 0;
		height: 0;
		visibility: hidden;
	}
}

@media screen and (max-width: 600px) {
	.main {
		grid-template-columns: 300px;
		width: 300px;
	}

	.grim-container {
		position: absolute;
		top: 5%;
	}

	.introduction {
		width: 300px;
	}

	.introduction a {
		text-align: center;
		padding: 0;
	}

	.text {
		text-align: center;
		font-size: 24px;
	}

	.icons {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}

	.projects {
		margin-top: 20px;
		width: 300px;
		grid-template-columns: 100%;
	}
}
